<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Sale ServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="Sale ServiceSoap1">
                    <security mode="Transport" />
                </binding>
                <binding name="Site ServiceSoap">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.mindbodyonline.com/0_5_1/SaleService.asmx"
                binding="basicHttpBinding" bindingConfiguration="Sale ServiceSoap"
                contract="Console.MindBody.SaleService.SaleServiceSoap" name="Sale ServiceSoap" />
            <endpoint address="https://api.mindbodyonline.com/0_5_1/SaleService.asmx"
                binding="basicHttpBinding" bindingConfiguration="Sale ServiceSoap1"
                contract="WebServiceConsole.MindBody.SaleService.SaleServiceSoap"
                name="Sale ServiceSoap1" />
            <endpoint address="https://api.mindbodyonline.com/0_5_1/SiteService.asmx"
                binding="basicHttpBinding" bindingConfiguration="Site ServiceSoap"
                contract="WebServiceConsole.MindBody.SiteService.SiteServiceSoap"
                name="Site ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>